@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes changeBackground {
  0%, 100%{
    opacity: 1;
  }
  16.67%{
    opacity: 0.9;
  }
  33.33%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.6;
  }
  66.67%{
    opacity: 0.5;
  }
  83.33%{
    opacity: 0.4;
  }
}
